{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>John J. Lawal</title>
  <!-- SEO Meta Tags -->
  <meta name="robots" content="index, follow">
  <meta name="author" content="John J. Lawal">
  <meta name="keywords" content="Web Developer, Software Developer, Nigeria, Abuja, Data Science, Consulting, Python, Accounting">
  <meta name="description" content="John J. Lawal - Web Developer, Software Developer, Nigeria, Abuja, Data Science, Consulting, Python, Accounting">

  <!-- Social Media Meta Tags -->
  <meta property="og:title" content="John J. Lawal">
  <meta property="og:description" content="Web Developer, Software Developer, Nigeria, Abuja, Data Science, Consulting, Python, Accounting">
  <meta property="og:image" content="{% static 'website/img/profile.jpg' %}">
  <meta property="og:url" content="https://github.com/johnjlawal">
  <meta property="og:site_name" content="John J. Lawal">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="John J. Lawal">
  <meta name="twitter:description" content="Web Developer, Software Developer, Nigeria, Abuja, Data Science, Consulting, Python, Accounting">
  <meta name="twitter:image" content="{% static 'website/img/profile.jpg' %}">
  <meta name="twitter:creator" content="@johnjlawal">

  <!-- LinkedIn Meta Tags -->
  <meta property="linkedin:title" content="John J. Lawal">
  <meta property="linkedin:description" content="Web Developer, Software Developer, Nigeria, Abuja, Data Science, Consulting, Python, Accounting">
  <meta property="linkedin:image" content="{% static 'website/img/profile.jpg' %}">
  <meta property="linkedin:url" content="https://www.linkedin.com/in/johnjlawal">

  <!-- Medium Meta Tags -->
  <meta property="medium:username" content="@johnjlawal">

  <!-- Kaggle Meta Tags -->
  <meta property="kaggle:username" content="johnjlawal">
  <!-- Favicons -->
  <link href="{% static 'website/img/favicon.png' %}" rel="icon">
  <link href="{% static 'website/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'website/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'website/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  {% endblock head %}
</head>

<body>

  <!-- ======= Header ======= -->
  {% block header %}
  
  <!-- End Header -->
  {% endblock header %}

  <!-- ======= About Section ======= -->
  {% block about %}
  
  {% endblock about %}

  <!-- ======= Resume Section ======= -->
  {% block resume %}
 
  {% endblock resume %}

  <!-- ======= Services Section ======= -->
  {% block services %}
  
  {% endblock services %}

  <!-- ======= Portfolio Section ======= -->
  {% block portfolio %}
  
  {% endblock portfolio %}

  <!-- ======= Contact Section ======= -->
  {% block contact %}
  
  {% endblock contact %}

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Adapted from <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static 'website/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'website/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'website/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'website/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'website/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'website/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/js/main.js' %}"></script>

</body>

</html>